.Crossword {
  display: flex;
  padding: 10px;
  align-items: flex-start;
}

.GridPanel {
  position: sticky;
  top: 10px;
}

.Grid {
  flex: 0 0 auto;
  margin: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  outline: none;
}

.GridCell {
  border: 1px solid black;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  width: 40px;
  height: 40px;
}

.GridCell.Black {
  background-color: black;
}

.GridNumber {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 12px;
}

.GridLetter {
  cursor: pointer;
  background: none;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 30px;
  padding: 2px;
}

.GridLetter.active {
  outline: 3px solid red;
  z-index: 1;
}

.Clues {
  flex: 1 0 auto;
  margin: 0 10px;
}
